body {
    overflow: hidden;
}

.scoreboard {
    /* Layout */
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 10;
    padding-top: 20px;
    padding-right: 6%;

    /* Styling */
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}
